__pycache__/
*.py[cod]
*$py.class

venv/
env/
ENV/
.venv/

.vscode/

.idea/

.ipynb_checkpoints/

.env

flask_application/static/uploads/*
!flask_application/static/uploads/.gitkeep

flask_application/static/report_assets/*
!flask_application/static/report_assets/.gitkeep

flask_application/reports/*
!flask_application/reports/.gitkeep

flask_application/model/*.keras
!flask_application/model/*.keras.gitkeep

*.log

.DS_Store
Thumbs.db

logs/

*.tmp

dataset/
.dataset/

.project_images/
project_images/